
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">
                    &copy; IoT Management - modificado por <a target="_blank" href="https://www.acmecia.com/">ACME&CIA
                    </a>
                </div>
                <div>
                    <a target="_blank" href="https://appseed.us/product/sb-admin/django/">Product</a>
                    &middot;
                    <a target="_blank" href="https://appseed.us/support">Support</a>
                </div>
            </div>
        </div>
    </footer>
