{% extends "komatsu/layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}


{% endblock stylesheets %}




{% block content %}

    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Dashboard</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Dashboard</li>

                
            </ol>
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body">Primary Card</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-warning text-white mb-4">
                        <div class="card-body">Warning Card</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-success text-white mb-4">
                        <div class="card-body">Success Card</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-danger text-white mb-4">
                        <div class="card-body">Danger Card</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-xl-12">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-area me-1"></i>
                            Gráfico en tiempo real
                        </div>

                        {% comment %} Insert chart here {% endcomment %}
                        
                        {% comment %} <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div> {% endcomment %}
                        <div class="card-body" id="live_chart"></div>
                        
                        
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-bar me-1"></i>
                            Ejemplo gráfico de barras
                        </div>
                        {% comment %} <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div> {% endcomment %}
                        <div class="card-body" id="bar_chart"></div>
                    </div>
                </div>

                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-bar me-1"></i>
                            Ejemplo gráfico de barras
                        </div>
                        {% comment %} <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div> {% endcomment %}
                        <div class="card-body" id="bar_chart2"></div>
                    </div>
                </div>

            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    DataTable Example
                </div>
                
                {% include 'charts/map.html'%}

            </div>
        </div>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="/static/assets/demo/chart-area-demo.js"></script>
    <script src="/static/assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="/static/assets/js/datatables-simple-demo.js"></script>

    {% comment %} highcharts {% endcomment %}
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <script>
        

    // Create the chart
    Highcharts.stockChart('live_chart', {
        chart: {
            
            events: {
                load: function () {

                    // set up the updating of the chart each second
                    var series1 = this.series[0];
                    var series2 = this.series[1];
                    var series3 = this.series[2];
                    setInterval(function () {

                        var t = (new Date()).getTime();
                        
                        // Aca en vez de random tienen que ir las entradas
                        var data1 = Math.round(Math.random() * 10 + 150);
                        var data2 = Math.round(Math.random() * 10+20);
                        var data3 = Math.round(Math.random() * 1);
                
                        //series1.addPoint([t,data1], redraw, shift);
                        //series1.addPoint([t,data1], true, false);
                        //series2.addPoint([t,data2], true, false);
                        //series3.addPoint([t,data3], true, false);
                        
                        


                        var JSON=$.ajax({
                            url: "{% url 'update_chart' %}",
                            type: "GET",
                            dataType: "json",
                            async: false}).responseText;
                        var Respuesta=jQuery.parseJSON(JSON);
                        
                        var data1 = Respuesta.temp_update;
                        var data2 = Respuesta.curr_update;
                        var data3 = Respuesta.vol_update;
                        
                        series1.addPoint(data1, true, false);
                        series2.addPoint(data2, true, false);
                        series3.addPoint(data3, true, false);

                        //console.log(data_test);

                    }, 5000);
                }
            },
            animation: false
        },

        
        accessibility: {
            enabled: false
        },

        time: {
            useUTC: false
        },

        // ADDED
        legend: {
            enabled: 'true',
            // layout: 'vertical',
            // align: 'right',
            // verticalAlign: 'middle',

        },

        // END ADDED

        rangeSelector: {

            buttons: [{
                count: 1440,
                type: 'minute',
                text: 'día'
            }, {
                count: 1,
                type: 'month',
                text: 'mes'
            }, {
                count: 12,
                type: 'month',
                text: 'año'
            },{
                type: 'all',
                text: 'Todo'
            }],
            inputEnabled: true,
            selected: 3, 
        },

        title: {
            text: 'Ejemplo en tiempo real'
        },

        exporting: {
            enabled: true
        },
        
        credits: {
            enabled: false
        },

        series: [{
            name: 'Temperatura',
            color: "#66CC00",
            // showCheckbox: true,
            data: {{array_temp | safe}}
        },
        {
            name: 'Corriente',
            color: "#FF9933",
            // showCheckbox: true,
            data: {{array_curr | safe}}

            
        },
        {
            name: 'Voltaje',
            color: "#66B2FF",
            // showCheckbox: true,
            data: {{array_vol| safe}}
        },

        ]
    });


    </script>


    <script>
    // Variables globales

    // Create the chart
    Highcharts.chart('bar_chart', {
        chart: {
            type: 'column',
            events: {
                load: function () {

                    // set up the updating of the chart each second
                    var series1 = this.series[0];
                    setInterval(function () {
                        
                        // Aca en vez de random tienen que ir las entradas
                        // for (let i = 0; i < series1.data.length; i++) {
                        //     console.log(series1.data[i].y)
                        //     series1.data[i].y = newValues[i];
                        // }
                        var newData = newValues;
                    
                        series1.setData(newData, true);
                    
                    }, 1000);
                }
            },
        },
        
        
        title: {
            align: 'center',
            text: 'Frecuencia de uso'
        },
        // subtitle: {
        //     align: 'left',
        //     text: 'Click the columns to view versions. Source: <a href="http://statcounter.com" target="_blank">statcounter.com</a>'
        // },
        accessibility: {
            announceNewData: {
                enabled: true
            }
        },
        xAxis: {
            type: 'category',
            
        },
        yAxis: {
            title: {
                text: 'Porcentaje (%)'
            }

        },
        legend: {
            enabled: false
        },

        credits: {
            enabled: false
        },

        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}%'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b><br/>'
        },

        series: [
            {
                name: 'Frecuencia de uso',
                // colorByPoint: true,
                color: 'rgb(20,10,154)',
                data: [
                    {
                        name: 'ENE',
                        y: 63.06,
                        // drilldown: 'Chrome'
                    },
                    {
                        name: 'FEB',
                        y: 19.84,
                        // drilldown: 'Safari'
                    },
                    {
                        name: 'MAR',
                        y: 4.18,
                        // drilldown: 'Firefox'
                    },
                    {
                        name: 'ABR',
                        y: 4.12,
                        // drilldown: 'Edge'
                    },
                    {
                        name: 'MAY',
                        y: 2.33,
                        // drilldown: 'Opera'
                    },
                    {
                        name: 'JUN',
                        y: 5.45,
                        // drilldown: 'Internet Explorer'
                    },
                    {
                        name: 'JUL',
                        y: 1.582,
                        // drilldown: null
                    },
                    {
                        name: 'AGO',
                        y: 1.582,
                        // drilldown: null
                    },
                    {
                        name: 'SET',
                        y: 1.582,
                        // drilldown: null
                    },
                    {
                        name: 'OCT',
                        y: 1.582,
                        // drilldown: null
                    },
                    {
                        name: 'NOV',
                        y: 1.582,
                        // drilldown: null
                    },
                    {
                        name: 'DIC',
                        y: 1.582,
                        // drilldown: null
                    },
                ]
            }
        ],

    });

    </script>

    <script>
        // Variables globales

    const newValues = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 90, 80];
    const newValues2 = [50, 60, 70, 70, 60, 50, 40, 50, 60, 60, 40, 50];

    // Create the chart
    Highcharts.chart('bar_chart2', {
        chart: {
            type: 'column',
            events: {
                load: function () {

                    // set up the updating of the chart each second
                    var series1 = this.series[0];
                    var series2 = this.series[1];
                    setInterval(function () {
                        
                        // Aca en vez de random tienen que ir las entradas
                        // for (let i = 0; i < series1.data.length; i++) {
                        //     console.log(series1.data[i].y)
                        //     series1.data[i].y = newValues[i];
                        // }
                        var newData = newValues;
                        var newData2 = newValues2;
                    
                        series1.setData(newData, true);
                        series2.setData(newData2, true);
                    
                    }, 1000);
                }
            },
        
        },
        
        
        title: {
            align: 'center',
            text: 'FRECUENCIA DE USO'
        },
        // subtitle: {
        //     align: 'left',
        //     text: 'Click the columns to view versions. Source: <a href="http://statcounter.com" target="_blank">statcounter.com</a>'
        // },
        accessibility: {
            announceNewData: {
                enabled: true
            }
        },
        xAxis: {
            type: 'category',
            
        },
        yAxis: {
            title: {
                text: 'Porcentaje (%)'
            }

        },
        legend: {
            enabled: true
        },

        credits: {
            enabled: false
        },

        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}%'
                },
                states: {
                    inactive: {
                        opacity: 1
                    }
                },
                events: {
                    legendItemClick: function() {
                        return false;
                    }
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b><br/>'
        },
        

        series: [
            {
                name: 'Frecuencia de uso',
                // colorByPoint: true,
                color: 'rgb(14,18,113)',
                data: [
                    {
                        name: 'ENE',
                        y: 20,
                        // drilldown: 'Chrome'
                    },
                    {
                        name: 'FEB',
                        y: 20,
                        // drilldown: 'Safari'
                    },
                    {
                        name: 'MAR',
                        y: 20,
                        // drilldown: 'Firefox'
                    },
                    {
                        name: 'ABR',
                        y: 20,
                        // drilldown: 'Edge'
                    },
                    {
                        name: 'MAY',
                        y: 20,
                        // drilldown: 'Opera'
                    },
                    {
                        name: 'JUN',
                        y: 20,
                        // drilldown: 'Internet Explorer'
                    },
                    {
                        name: 'JUL',
                        y: 20,
                        // drilldown: null
                    },
                    {
                        name: 'AGO',
                        y: 20,
                        // drilldown: null
                    },
                    {
                        name: 'SET',
                        y: 20,
                        // drilldown: null
                    },
                    {
                        name: 'OCT',
                        y: 20,
                        // drilldown: null
                    },
                    {
                        name: 'NOV',
                        y: 20,
                        // drilldown: null
                    },
                    {
                        name: 'DIC',
                        y: 20,
                        // drilldown: null
                    },
                ]
            },

            {
                name: 'Frecuencia Efectiva Actual de Uso',
                // colorByPoint: true,
                color: 'rgb(0,148,206)',
                data: [
                    {
                        name: 'ENE',
                        y: 20,
                        // drilldown: 'Chrome'
                    },
                    {
                        name: 'FEB',
                        y: 20,
                        // drilldown: 'Safari'
                    },
                    {
                        name: 'MAR',
                        y: 20,
                        // drilldown: 'Firefox'
                    },
                    {
                        name: 'ABR',
                        y: 20,
                        // drilldown: 'Edge'
                    },
                    {
                        name: 'MAY',
                        y: 20,
                        // drilldown: 'Opera'
                    },
                    {
                        name: 'JUN',
                        y: 20,
                        // drilldown: 'Internet Explorer'
                    },
                    {
                        name: 'JUL',
                        y: 20,
                        // drilldown: null
                    },
                    {
                        name: 'AGO',
                        y: 20,
                        // drilldown: null
                    },
                    {
                        name: 'SET',
                        y: 20,
                        // drilldown: null
                    },
                    {
                        name: 'OCT',
                        y: 20,
                        // drilldown: null
                    },
                    {
                        name: 'NOV',
                        y: 20,
                        // drilldown: null
                    },
                    {
                        name: 'DIC',
                        y: 20,
                        // drilldown: null
                    },
                ]
            }
        ],

    });

    
        </script>
    

{% endblock javascripts %}
